<footer class="pt-4 my-md-5 pt-md-5 border-top mastfoot mt-auto">
  <div class="container">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2 footer-maven-icon" src="/images/LM-Icon-Teal.svg" alt="Little Maven Thumb Icon">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018 Maven Family Ltd.</small>
          </div>

        </div>
        </div>
      </footer>

    </body>
</html>