<% include ../partials/header %>

    <div class="row"></div>
        <h1 style="text-align:center">Edit <%= place.name %></h1>
        <div style="width:30%; min-width:250px; margin: 25px auto; ">
            
            <a href="/campgrounds">Go Back</a>
        </div>
        
        
   

<% include ../partials/footer %>