<% include partials/header %>
      <link rel="stylesheet" type="text/css" href="/stylesheets/404.css">

	<div class="main">

<!---728x90--->
		<h1>404</h1>
<!---728x90--->
		<h2>ooops, something goes wrong</h2>
		<div class="more_w3ls">
			<a onclick="goBack()" href="#">Go Back</a>
		</div>

<!---728x90--->

	</div>
	
	<script>
    function goBack() {
        window.history.back();
    }
</script>
<% include partials/footer %>