<% include ./partials/header-top %>

    <title>Little Maven</title>

<% include ./partials/header-bottom %>

<div id="landing-header">
 		<h3>Welcome to Little Maven!</h3>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>
<% include partials/footer %>
