<% include partials/header %>

<div id="landing-header">
 		<h3>Welcome to Little Maven!</h3>
		<a href="/places" class="btn btn-lg btn-success">Take a look at some Places</a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>
<% include partials/footer %>
