<% include ./partials/header %>

<form class="form-signin text-center" action="/register" method="post">
      <div style="font-size:3em; color:var(--maven-grey);">
         <i class="fas fa-user-plus"></i>
      </div>
      <h4 class="">Sign Up</h4>

      <!--<label for="inputName" class="sr-only">Username</label>-->
      <!--<input type="text" id="inputName" name="username" class="form-control" placeholder="Username" required autofocus>-->
      
      <label for="firstname" class="sr-only">Firstname</label>
      <input type="text"  name="firstname" class="form-control" placeholder="Firstname" required autofocus>
      
      <label for="lastname" class="sr-only">Lastname</label>
      <input type="text" name="lastname" class="form-control" placeholder="Lastname" required>
      
      <!--<label for="avatar" class="sr-only">Profile Image</label>-->
      <!--<input type="text" name="avatar" class="form-control" placeholder="Profile Image URL">-->

      <label for="email" class="sr-only">Email</label>
      <input type="email" name="email" class="form-control" placeholder="Email" required>      
      
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      
      <!--<label for="adminCode" class="sr-only">adminCode</label>-->
      <!--<input id="adminCode" class="form-control" type="text" name="adminCode" placeholder="admin code">-->


      <!--<div class="checkbox mb-3">-->
      <!--  <label>-->
      <!--    <input type="checkbox" value="remember-me"> Remember me-->
      <!--  </label>-->
      <!--</div>-->
 
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
      
      <p class="mt-5">Already have an account?</p>
      <a href="/register">Log in</a>
    </form>


<% include ./partials/footer %>