body{
    /*background-color: var(--monkey-off-white);*/
}

#top{
    width:100%;
    box-shadow: 0 1px 4px rgba(0,0,0,.03);
    border-radius: 3px;
    border-bottom: 1px solid rgba(0,0,0,.09);
    /*background: var(--maven-off-white);*/
    background: white;
    margin-bottom:25px;
    /*box-shadow: */
    /*0 -2px 4px -1px rgba(0,0,0,.05), */
    /*0 -4px 5px 0 rgba(0,0,0,.03), */
    /*0 -1px 5px 0 rgba(0,0,0,.06);*/
}

#middle{
    width:100%;
}

/*.paper-box{*/
/*    box-shadow: 0 1px 4px rgba(0,0,0,.03);*/
/*    border-radius: 3px;*/
/*    border: 1px solid rgba(0,0,0,.09);*/
/*    background: #fff;*/
/*    padding: 20px 0;*/
/*    margin-bottom:20px;*/
/*    margin-right: -15px;*/
/*    margin-left: -15px;*/
/*}*/

#banner{
    width:100%;
    /*background-color: var(--maven-primary);*/
    /*background-color: var(--maven-pink);*/
    /*background-color: #dddeee;*/
    /*background-color: var(--monkey-off-white);*/
    height: 10rem;
    /*box-shadow: 0 1px 4px rgba(0,0,0,.03);*/
    /*border-radius: 3px;*/
    /*border: 1px solid rgba(0,0,0,.09);*/
}

#improveBtn{
    float:right;
    margin-top:3rem;
    font-size: 0.65rem;
    background-color: var(--monkey-pink);
    padding:6px;
}
                            @media (max-width: 767px){
                                #improveBtn{
                                    display:none;
                                }
                                #banner{
                                    height: 6.5rem;
                                    background-color: var(--maven-primary);
                                }
                            }

#main-content{
    /*background-color: white;*/
    min-height:100px;
    padding: 0 1rem;
}
#profileImage{
    padding:0;
}

#placeImage{
    margin-top:-5rem;
    /*width:35%;*/
    width:100%;
    border: white 3px solid;
    /*float: left;*/
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .10);
}


#summary{
    margin-top: -4.5rem;
    /*margin-left: .75rem;*/
    /*float:left;*/
    /*width:62%;*/
    width:100%;
}
                    @media (max-width: 767px){
                        #summary{margin-top: 2rem; padding-left:2rem;}
                        #placeImage{width:45%;}
                        #profileImage{text-align: center;}
                    }

#placeName{
    /*font-weight: 500;*/
    /*color: white;*/
}

#starSummary{
    color: var(--maven-primary);
    /*color: white;*/
    /*line-height: 0.5;*/
    margin-top:-0.5rem;
    float:left;
}
.material-icons.md-30 { 
    font-size: 30px; 
    letter-spacing: -0.3rem;
}
#summaryReviewCount{
    color: inherit;
    /*top: 0.5rem;*/
    display:inline;
    margin-left: 0.75rem;
}
#categories{
    margin-top:8px;
}
.sm-mb{
    margin-bottom:3px;
}
.p-500{
    font-weight: 500;
}
.summaryIcon{
    color: var(--maven-primary);
    width: 20px;
    text-align: center;
}
#goodForSummary{
    /*border-bottom: solid 2px var(--maven-primary);*/
}
#clockIcon{
    /*color: var(--maven-light-blue);*/
}
#summaryHours{
   text-decoration: underline;
   color: inherit;
}
#summaryHours:hover{
   text-decoration: underline;
   color: inherit;
   font-weight: 500;
}
#summary a{
   text-decoration: underline;
   color: inherit;
}
#summary a:hover{
   text-decoration: underline;
   color: inherit;
   font-weight: 500;
}

#summary hr{
   margin-top: 0.75rem;
   margin-bottom: 0.75rem;
}

#map{
    width:100%;
    height:14rem;
    min-height:10rem;
    background-color: #eee;
    margin-bottom:1.5rem;
    display:block;
    padding: 0;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .10);
}
#mapScaleBtn{
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: 2rem;
}
.sticky-content{
    /*background-color: var(--maven-off-white2);*/
    /*min-height: 400px;*/
    /*padding: 0 1rem;*/
    position: -webkit-sticky;
    position: sticky;

}

#sticky-review{
    top: 100px;
    width: 95%;
    margin-top: -315px;  
    margin-left:auto;
    margin-right:auto;
    /*padding: 1rem 1rem;*/
    /*border:none;*/
    /*box-shadow: */
    /* 0 2px 5px -3px rgba(0,0,0,.2), */
    /* 0 2px 10px 1px rgba(0,0,0,.10), */
    /* 0 6px 14px 2px rgba(0,0,0,.08);*/
    /*border-radius: 3px;*/
    /*background-color: white;*/
    /*border-top: solid 15px var(--maven-pink);*/
    /*border-bottom: solid 15px var(--maven-pink);*/
    /*border-left: solid 15px white;*/
    /*border-right: solid 15px white;*/
    
}
#sticky-review h5{
    padding: 0 1rem;
}

                    @media (max-width: 767px){
                    #sticky-review{
                        display:none;
                        /*top: 100px;*/
                        /*width: 95%;*/
                        /*margin-top: 1rem;  */
                        /*margin-left:auto;*/
                        /*margin-right:auto;*/
                        /*padding: 1rem 1rem;*/
                        /*box-shadow: 0 1px 4px rgba(0,0,0,.03);*/
                        /*border-radius: 3px;*/
                        /*border: 1px solid rgba(0,0,0,.09);*/
                    }
                    .sticky-review-heading, .sticky-review-subtitle{
                        display:none;
                    }
                    }

#sticky-review-box{
    box-shadow: 
     0 2px 5px -3px rgba(0,0,0,.2), 
     0 2px 10px 1px rgba(0,0,0,.10), 
     0 6px 14px 2px rgba(0,0,0,.08);
    border-radius: 10px;
    background-color: white;
    padding: 1rem 1rem;
}

.sticky-review-heading{
    
}
.sticky-review-subtitle{
    margin-top:-10px;
    margin-left:15px;
}

#sticky-review-table{
    width: 100%;
    border:none;
    /*padding-bottom:5px;*/
    /*border-spacing: .25rem;*/
    /*line-height: 10rem;*/
    border-spacing: 0px 2px;
    border-collapse: separate;
    margin-bottom:0px;
    overflow: hidden
}
#sticky-review-table td:nth-child(1) {
    text-align:left;
    width: 3rem;
    font-size:0.75rem;
    vertical-align:top;
    line-height:18px;
}

#sticky-review-title{
   margin-top: 20px; 
   background-color: var(--maven-off-white);
    font-size:0.85rem;
}
#sticky-review-title::placeholder{
   font-size:0.7rem;
}

#sticky-review-text{
   margin-top: 10px; 
   background-color: var(--maven-off-white);
   font-size:0.85rem;
}
#sticky-review-text::placeholder{
   font-size:0.7rem;
}
.button-right-wrapper{
    width:100%;
    margin-top: 10px;
    text-align:right;
}
#sticky-review-submit{

}
#sticky-review-submit:hover{
    text-decoration: none;
}


.placeBtnDiv{
    /*min-width: 5.5rem;*/
    width:33%;
    align-items: center;
    text-align: center;
    padding: 10px 4px;
    border-radius: 6px;
    /*border: solid 2px blue;*/
    margin-top: 0.5rem;
    float: left;
}
.mobile-placeBtnDiv{
    /*min-width: 5.5rem;*/
    width:25%;
    align-items: center;
    text-align: center;
    padding: 10px 4px;
    border-radius: 6px;
    /*border: solid 2px blue;*/
    margin-top: 0;
    float: left;
    position: relative;
}

.placeButton{
/*box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);*/
    background-color: transparent;
    /*color: #666;*/
        /*color: var(--monkey-text);*/
    color: var(--maven-icon-grey);
    width:100%;
    height:100%;
    cursor: pointer;
    letter-spacing: -0.5px;
    text-decoration: none;
    /*text-transform: uppercase;  */
    text-align: center;
    /*display: inline-flex;*/
    position: relative;
    align-items: center;
    justify-content: center;
    /*min-width: 20px;*/
    border: none;
    outline: none;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    /*vertical-align: middle;*/
    /*padding: 10px 4px;*/
}

.placeButton:hover {
   text-decoration: none;
   /*color: #666;*/
    color: var(--maven-text1);

}
/*.placeBtnDiv:hover {*/
/*   background-color: var(--maven-grey);*/
/*}*/

.placeButtonIcon{
    font-size: 2rem;
    display: block;
}

.place-details{
    /*padding-left:15px;*/
    /*padding-right:15px;*/
    /*margin-bottom: 2rem;*/
    line-height: 1.2;
}

.mt-reviews{
    margin-top:2.5rem;
}

#ratebar-wrapper{
    padding-right:15px;
}
                    @media (max-width: 992px){
                        #ratebar-wrapper{
                            padding:0 35px;
                            padding-top:20px;
                            margin-top:15px;
                            border-top: solid 1px rgba(0,0,0,.09);
                        }
                    }
#rating-summary{
    /*margin-top:0.5rem;*/
    text-align: center;
}
#rating-overall-avg{
    /*display:inline;*/
    font-size:5.4rem;
    font-weight:100;
    /*font-family: roboto;*/
}

#overallStarAvg{
    color: var(--maven-primary);
    /*color: white;*/
    /*line-height: 0.5;*/
    margin-top: 14px;
    /*float:left;*/
    /*display:inline-block;*/
    /*margin-left:1rem;*/

}
.star-size{
    font-size: 22px;
    letter-spacing: -0.175rem;
    vertical-align: text-bottom
}

#ratingReviewCount{
    /*color: inherit;*/
    /*top: 0.5rem;*/
    /*display:inline;*/
    /*margin-left: 0.3rem;*/
    /*vertical-align: top;*/
    /*line-height: 2.3;*/
    /*float:right;*/
}

.ratebar-wrap{
    
}
.rating-des{
    font-size:0.75rem;
}
.rating-bar {
    /*background:#f1f1f1;*/
    background: var(--maven-off-white2);
    /*padding:3px;*/
    /*height: 10px;*/
    /*margin-bottom:0.3rem;*/
}
.rate {
    height:1.1rem;
}
.rate-5 {
    /*width:80%;*/
    background-color: #9FC05A;
}
.rate-4 {
    /*width:60%;*/
    background-color: #ADD633;
}
.rate-3 {
    /*width:60%;*/
    background-color: #FFD834;
}
.rate-2 {
    /*width:60%;*/
    background-color: #FFB234;
}
.rate-1 {
    /*width:60%;*/
    background-color: #FF8B5A;
}
.rating-bar-percent{
    text-align: right;
    font-size: 0.75rem;
}
table {
    /*border-collapse: collapse;*/
    width: 100%;
    /*border-spacing:0;*/
    border:none;
    border-color:none;
    /*padding-bottom:5px;*/
    /*border-spacing: .25rem;*/
    /*line-height: 10rem;*/
    border-spacing: 0px 4px;
    border-collapse: separate;

}
.table {
    width: 100%;
    border:none;
    /*padding-bottom:5px;*/
    /*border-spacing: .25rem;*/
    /*line-height: 10rem;*/
    border-spacing: 0px 2px;
    border-collapse: separate;
    margin-bottom:0px;
}

.table td{padding:0px 0px;border-style:solid;border-width:0px;overflow:auto;word-break:normal;border-color:#ccc;}
tr {
    /*margin-bottom: 1rem;*/
    /*padding-bottom:2rem;*/
}
td, th {
    padding: 3px;
    vertical-align: top;    
}
.ratebar-wrap td, .ratebar-wrap th {
    padding: 0px;
    vertical-align: middle;  
}


.place-details td:nth-child(1) {
    text-align: right;
    width: 5.5rem;
    /*background-color:yellow;*/
}
.ratebar-wrap td:nth-child(1) {
    text-align: left;
    width: 4rem;
    /*background-color:yellow;*/
}
.substar-wrap td:nth-child(1) {
    text-align: right;
    width: 4.5rem;
}
.place-details td:nth-child(1)::after, .substar-wrap td:nth-child(1)::after  { 
    content: ": ";
}
.ratebar-wrap td:nth-child(1)::after { 
    content: "";
}

.place-details td:nth-child(2) {
    text-align: left;
    /*background-color:pink;*/
    padding-left:10px;
}
.ratebar-wrap td:nth-child(2), .substar-wrap td:nth-child(2) {
    /*background-color:pink;*/
    padding-left:0px;
    width: auto;
    text-align: center;
    text-align: ;
    line-height: 1.4;
}
.ratebar-wrap td:nth-child(3) {
    text-align: right;
    width: 2rem;
}

.substar-wrap{
}
.sub-rating-des{
    font-size:0.75rem;
    text-align: right
}
#sub-ratings{
    border-left: 1px solid rgba(0,0,0,.09);
    /*margin-top: 46px;*/
    padding-left:15px;
}
                    @media (max-width: 992px){
                        #sub-ratings{
                            padding-left:15px;
                            /*border-top: 1px solid var(--maven-grey);*/
                            border-left: none;
                            margin-top: 0px;
                            padding-top:0px;
                        }
                    }
.substars{
    height:1.2rem;
}
.sub-rating-stars{
    font-size:22px;
    line-height:0.9;
    letter-spacing: -4px;
    color: var(--maven-primary);
    vertical-align:text-bottom;
    overflow-y:visible;
}
.sub-rating{
    font-weight:500;
    /*font-size:1.25rem;*/
    /*line-height:0.7;*/
    vertical-align:text-bottom;
}


.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > .flex-child {
    
}
.review-wrapper{
    /*padding-left:20px;*/
    /*padding-right:20px;*/
}
.review-total{
    text-align: right;
    padding-left:20px;
    padding-right:20px;
}
.review{
    padding-top:26px;
    padding-bottom:4px;
    /*border-top: none;*/
    border-top: solid 1px rgba(0,0,0,.09);
    padding-left:20px;
    padding-right:20px;
}
.review ~ .review{
    border-top: solid 1px rgba(0,0,0,.09);
}
.review-avatar {
    background: var(--maven-secondary);
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 1.6rem;
    font-weight: 300;
    height: 3.2rem;
    width: 3.2rem;
    /*line-height: 1.25;*/
    margin: 0;
    position: relative;
    vertical-align: middle;
    margin-right: 3px;
}

.review-avatar[data-initial]::before {
    color: currentColor;
    content: attr(data-initial);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.reviewer{
    margin-left:0.5rem;
}
#reviewer-username{
    display:block;
    color: var(--maven-text2);
    margin-top: 4px;
}
.reviewer-stars{
    display:block;
    margin-top: 2px;
    width:200px;
}
.reviewer-stars > .stars{
    font-size:21px;
    line-height:0.9;
    letter-spacing: -3px;
    color: var(--maven-icon-grey);
    vertical-align:text-bottom;
    overflow-y:visible;
    margin-left:-4px;
}
.review-date{
    /*display:inline;*/
}
.middotDivider {
    padding-right: .4em;
    padding-left: .4em;
    font-size: 16px;
    line-height: 1.4;
    vertical-align: center;
    font-family: roboto;
    font-weight:500;
}
.middotDivider:after {
    content: '\00B7';
}
.review-text{
    margin-left: 3.7rem;
}
.review-title{
    margin-bottom:2px;
    margin-top: 8px;
    font-size:1.15rem;
}

#write-review-wrapper{
    display:none;
}
                                        @media (max-width: 767px){
                                            #write-review-wrapper{
                                                display:block;
                                            }
                                        }

.not_logged_in .not_logged_in_overlay{
    display:block;
    position:absolute;
    top:0px;
    bottom:0px;
    opacity:0.60;
    filter:alpha(opacity=60);
    background-color:white;
    height:expression(parentElement.scrollHeight + 'px');
    width:100%;
    z-index:1;
}
    
.is_logged_in .not_logged_in_overlay{
    display:none;
}
.must_login{
    position:absolute; 
    z-index:2;
    text-align:center; 
    width: 70%; 
    left:15%; 
    vertical-align:middle;
    top:30%;
}

    
/*.not_logged_in_overlay{*/
/*    background-color: rgba(255,0,0,0.5);*/
/*    height: 100%;*/
/*    width: 100%;*/
    /*position:absolute;*/
    /*top:0;*/
    /*left:0;*/
/*}*/

.place-detail-container{
    padding-top:4px;
    padding-bottom:4px;
    /*border-top: none;*/
    padding-left:20px;
    padding-right:20px;
}
.details-list{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
ul {
    display: block;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

                                        @media (max-width: 767px){
                                            .details-list{
                                              -webkit-column-count: 1; /* Chrome, Safari, Opera */
                                              -moz-column-count: 1; /* Firefox */
                                              column-count: 1;
                                            }
                                        }

.tick li:before {
    font: normal normal normal 18px/1 "Font Awesome 5 Free";
    font-size: 1em;
    margin-right: 5px;
    content: '\f00c';
    font-weight: 900;
    color: var(--maven-primary);
}
.circle-list li:before {
    font: normal normal normal 18px/1 "Font Awesome 5 Free";
    font-size: .5em;
    margin-right: 5px;
    content: '\f111';
    font-weight: 300;
    color: var(--maven-primary);
    padding-left: 0.325rem;
    padding-right: 0.175rem;
    vertical-align: middle;
}

.exclamation{
    /*padding-left:1.35rem;*/
    /*text-decoration: underline;*/
    margin-top:0px;
}
.exclamation:before {
    font: normal normal normal 18px/1 "Font Awesome 5 Free";
    font-size: 0.8em;
    margin-right: 5px;
    content: '\f12a';
    font-weight: 900;
    color: var(--maven-primary);
    padding-left: 0.45rem;
    padding-right: 0.25rem;
}
.external-link:after {
    font: normal normal normal 18px/1 "Font Awesome 5 Free";
    font-size: .65em;
    margin-left: 5px;
    content: '\f35d';
    font-weight: 900;
    vertical-align: super;
}


.rate-overall{
    height:45px;
    font-weight: 900;
}
.rate-overall .br-theme-fontawesome-stars-o .br-widget{
      font-weight: 900;
}


.day {
    width: 6rem;
    display: inline-block;
}
.hours {
    display: inline-block;
}


#mobile-bottom-menu{
    display: none;
    box-shadow: 
    0 -2px 4px -1px rgba(0,0,0,.05), 
    0 -4px 5px 0 rgba(0,0,0,.03), 
    0 -1px 5px 0 rgba(0,0,0,.06);
    
}
#mobile-improve-btn{
    position:absolute;
    right:0;
    top:-21px;
    background-color: var(--monkey-pink);
    padding: 4px;
    box-shadow: 
    -2px -2px 4px -1px rgba(0,0,0,.05), 
    -4px -4px 5px 0 rgba(0,0,0,.03), 
    -1px -1px 5px 0 rgba(0,0,0,.06);
    border-radius: 5px 0px 0px 0px;
}
#mobile-improve-btn a{
    color: white;
}

                    @media (max-width: 767px){
                    #mobile-bottom-menu{
                        display: block;
                        position: fixed;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        background-color: var(--monkey-off-white);
                        /*border-top: gray solid 1px;*/
                        z-index: 10;
                        line-height: 1;
                        font-size: 0.8rem;
                    }
                    #mobile-bottom-menu-buttons{
                        overflow: hidden;
                    }
                    #mobile-bottom-menu .placeButtonIcon{
                        font-size: 1.3rem;
                    }
                    #action-icons{
                        display:none;
                    }
                    footer{
                        margin-bottom:125px;
                    }
                    }


#mobile-bottom-menu .circle {
    /*border-radius: 100%;*/
    /*display: block;*/
    /*position: relative;*/
    /*z-index: -1;*/
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*transition: visibility .15s cubic-bezier(.11,.65,1,1.69);*/
    /*transition: opacity 1s ease 0s;*/
    background-color: white;
    /*opacity: 0.4;*/
    border-radius: 50%;
    visibility: hidden;
    box-shadow: 0 0 5px 5px white;
}
#mobile-bottom-menu .mobile-placeBtnDiv:active .circle {
    visibility: visible;
    /*opacity: 1;*/
    /*color: blue;*/
    /*background-color: red;*/

}
#mobile-bottom-menu .mobile-placeBtnDiv:active .placeButton{
    /*color: var(--monkey-off-white);*/
    /*background-color: red;*/
}

/*.tooltip{*/
/*    margin:25px;*/
/*}*/

/*.tooltip.in{*/
/*}*/

/*.tooltip-inner{*/
/*    background-color: var(--monkey-pink);*/

/*}*/


/*.bs-tooltip-top .arrow::before, .bs-tooltip-bottom .arrow::before{*/
/*    border-top-color: var(--monkey-pink);*/
/*}*/
/*.tooltip > .tooltip-arrow { border-top-color:#f00; }*/
