/* ------------------------ CORE (start) ------------------------ */

* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
 height: 100%;
 position: relative;
}

:root {
    --maven-blue: #5960e7;
    --maven-green: #3cff8c;
    --maven-yellow: #ffff3c;
    --maven-pink: #ffd5cc;
    --maven-light-blue: #8ef7e5;
    --maven-grey: #d1d5cf;
    --maven-text1: #202124;
    --maven-text2: #5f6368;
    --thin: 100;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
    --black: 900;
}

button:focus {outline:0;}
/* Reset */
/*a,body,div,footer,h1,h2,h3,header,html,img,li,p,section,span,ul{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;counter-reset:inherit}*/
/*footer,header,section{display:block}*/
/*body{color:#68737d;counter-reset:chapter;font-size:16px;line-height:24px;font-family:-apple-system,BlinkMacSystemFont,Roboto,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}*/
/*.btn,.btn.btn-secondary{font-size:16px;line-height:1.5}*/
/*ul{list-style:none}*/

body{
    font-family: 'Barlow', sans-serif;
    /*-moz-osx-font-smoothing: grayscale;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*font-size: .875rem;*/
    /*line-height: 1.25rem;*/
    /*font-weight: 400;*/
    /*letter-spacing: .04em;*/
    text-decoration: inherit;
    text-transform: inherit;
    /*color: rgba(0,0,0,0.87);*/
    /*color: var(--maven-text1)!important;*/
    color: var(--maven-text2)!important;
    /*color: red;*/
}

h1, h2, h3, h4, h5, h6 {
    color: var(--maven-text1)!important;
}

h1 {
    font-weight: 300;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -1.5px;
}
h2 {
    font-weight: 300;
    font-size: 3.75rem;
    line-height: 3.75rem;
    letter-spacing: -0.5px;
}
h3 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.125rem;
    letter-spacing: normal;
}
h4 {
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: 0.25px;
}
h5 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: normal;
}
h6 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.25px;
}
.subtitle1 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.15px;
}
.subtitle2 {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.375rem;
    letter-spacing: 0.1px;
}
.body1 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}
.body2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.25px;
}
.buttonText {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 2.25rem;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}
.captionText {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.4px;
}
.overlineText {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.uppercase{
  text-transform: uppercase;
}

.underline{
  text-decoration: underline;
}

/* ?????????????????? */
.active {
    font-weight: bold;
}
/* ?????????????????? */

.alert  {
    position: fixed;
    width:40%;
    min-width:300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -120px;
    -webkit-animation: alert-move 5s;  
    animation: alert-move 5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    padding: 1.25rem 1.25rem 1rem 1.25rem;
    border: 0;
    border-radius: 0;
    background-color: #323232;
    color: white;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .3);
    z-index:10;
    margin-bottom: 0px;
}

.alert-success {
    border-bottom: 8px solid darkseagreen;
}
.alert-danger {
    border-bottom: 8px solid #ED8E8E;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes alert-move {
  0% {bottom: -120px;}
  15% {bottom: 0px;}
  70% {bottom: 0px;}
  100% {bottom: -120px;
    visibility:hidden;}
}

@keyframes alert-move {
  0% {bottom: -120px;}
  15% {bottom: 0px;}
  70% {bottom: 0px;}
  100% {bottom: -120px; visibility:hidden;}
}


.lm-button{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    background-color: var(--maven-green, green);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 16px;
    margin: 8px 16px;
    height: 32px;
    font-size: .8125rem;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
    font-weight: 500;
    letter-spacing: .08929em;
    text-decoration: none;
    text-transform: uppercase;  
    text-align: center;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    border: none;
    outline: none;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
}

.lm-button:hover {
    text-decoration: none;
    color:white;
}
.lm-button:active {
    color: var(--maven-green, green);
    background-color: #fff;

}
a {
    color: var(--maven-blue);
}
::-moz-selection { /* Code for Firefox */
    background: var(--maven-pink);
}

::selection {
    background: var(--maven-pink);
}


 /* ------------- CORE (End) ------------- */


/* ------------------------ HEADER (Start) ------------------------ */

.navbar {
    box-shadow: 
    0 2px 4px -1px rgba(0,0,0,.2), 
    0 4px 5px 0 rgba(0,0,0,.14), 
    0 1px 10px 0 rgba(0,0,0,.12);
}

.avatar.avatar-xl {
    font-size: 1.6rem;
    height: 3.2rem;
    width: 3.2rem;
}
.avatar.avatar-lg {
    font-size: 1.2rem;
    height: 2.4rem;
    width: 2.4rem;
}
.avatar {
    background: #17a2b8;
    border-radius: 50%;
    color: rgba(255,255,255,.85);
    display: inline-block;
    font-size: .8rem;
    font-weight: 300;
    height: 1.6rem;
    line-height: 1.25;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 1.6rem;
    margin-right:3px;
}

.avatar[data-initial]::before {
    color: currentColor;
    content: attr(data-initial);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

header{z-index:3;position:fixed;height:64px;width:100%;top:0;box-shadow:0 1px 0 0 #e9ebec; background-color: white;}
header.short{height:56px}
/* header.short .mobileMenuOuter a img{height:40px;margin-top:8px} */
header .mobileMenuOuter{margin:0 auto;max-width:1032px}
header .mobileMenuOuter a{float:left;}
header .mobileMenuOuter .mobileMenuInner,header ul{float:right; padding:0px}
header .mobileMenuOuter a img{height:38px;margin:10px 0 0;}
header ul{display:inline-block;margin:24px 0 0}
header ul li{display:inline-block;margin:0 0 0 22px}
header ul li a{font-weight:500;font-size:14px;line-height:1.33;color:#657885;text-decoration:none;text-transform:none;cursor:pointer}
header ul li a:hover{color:#00a5e6}
header #hamburger,header #mobileMenuBG {-webkit-tap-highlight-color:transparent;display:none}

#searchMenuBG{-webkit-tap-highlight-color:transparent;display:none}
#searchMenuBG{position:fixed;top:0px;width:100%;height:100%;background-color:rgba(0,0,0,.24)}
.searchMenuOpen #searchMenuBG{display:block;-webkit-animation:fadein 2s ease 0s 1 normal none running;-moz-animation:fadein 2s ease 0s 1 normal none running;-ms-animation:fadein 2s ease 0s 1 normal none running;-o-animation:fadein 2s ease 0s 1 normal none running;animation:fadein 2s ease 0s 1 normal none running}


@keyframes fadein{from{opacity:0}
to{opacity:1}
}
@-moz-keyframes fadein{from{opacity:0}
to{opacity:1}
}
@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}
@-ms-keyframes fadein{from{opacity:0}
to{opacity:1}
}
@-o-keyframes fadein{from{opacity:0}
to{opacity:1}
}


@media (max-width:1144px){
  header .mobileMenuOuter{padding:0 56px}
  header.short .mobileMenuOuter{padding:0 32px}
}

@media (max-width:750px){
  header #search{display:inline-block;margin:10px 24px 24px 24px!important;right:0;position:absolute}

  header{width:100%;height:55px;z-index:5}
  header.short{height:64px;box-shadow:0 1px 0 0 #e9ebec}
  /* header .mobileMenuOuter a>img,header.short .mobileMenuOuter a img{height:32px;margin-top:16px} */
  header .mobileMenuOuter{text-align:center}
  header .mobileMenuOuter a{float:none}
  header .mobileMenuOuter a img{height:30px;margin:14px 0 0;}
  header .mobileMenuOuter .mobileMenuInner{left:-100%;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;float:none;text-align:left;position:fixed;top:55px;background-color:#fff;width:256px;height:100%;box-shadow:3px 0 2px 0 rgba(0,0,0,.16)}
  header .mobileMenuOuter .mobileMenuInner>ul{float:none;margin:0;background-color:#fff;width:100%;padding-top:16px}
  header .mobileMenuOuter .mobileMenuInner>ul li{display:block;margin:0}
  header .mobileMenuOuter .mobileMenuInner>ul li a{display:block;color:#3e4a54;font-size:14px;padding:16px 0 16px 24px;line-height:20px;font-weight:400;text-decoration:none;text-transform:none}
  header .mobileMenuOuter .mobileMenuInner>ul li a:hover{background-color:rgba(0,165,230,.16)}
  header #hamburger{display:inline-block;margin:18px 0 0 24px;left:0;position:absolute}
  header #mobileMenuBG {position:fixed;top:64px;width:100%;height:100%;background-color:rgba(0,0,0,.24)}
  header.mobileMenuOpen #mobileMenuBG {display:block;-webkit-animation:fadein 2s ease 0s 1 normal none running;-moz-animation:fadein 2s ease 0s 1 normal none running;-ms-animation:fadein 2s ease 0s 1 normal none running;-o-animation:fadein 2s ease 0s 1 normal none running;animation:fadein 2s ease 0s 1 normal none running}

  header #searchMenu{
      /*margin:18px 0 0 24px;*/
      width: 95%;
      left: 2.5%;
      top: 1%;
  }
  header.searchMenuOpen #searchMenu{}

  header.mobileMenuOpen{display:block}
  header.mobileMenuOpen .mobileMenuInner{left:0}

}

#hamburger{width:24px;height:24px;-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer}
#hamburger span{display:block;position:absolute;height:2px;width:18px;margin:0;background:#b3b9be;opacity:1;left:0;-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
#hamburger span:nth-child(1){top:4px;left:3px}
#hamburger span:nth-child(2),#hamburger span:nth-child(3){top:9px;left:3px}
#hamburger span:nth-child(4){top:14px;left:3px}
#hamburger.open span:nth-child(1),#hamburger.open span:nth-child(4){top:9px;width:0%;left:50%}
#hamburger.open span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
#hamburger.open span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}

/*# sourceMappingURL=/static/css/homepage.min.css.map */

/* font-family: 'Lobster', cursive; */

#navbar {
  transition: top 0.5s;
}
header #search{display:inline-block;margin:14px 0 0 24px; float: right;}

#searchIcon {
    padding: 5px;
    /*background-color: rgba(230,230,230,1);*/
    border-radius: 50%;
}

#search{
  color:#b3b9be;
  width:24px;
  height:24px;
  cursor:pointer;
  /*background-color:rgba(230,230,230,1);*/
  /*border-radius: 50%;*/
  /*padding:5px;*/
  /*fill: blue;*/
  z-index:200;
  position:sticky;
}
#search svg{
  fill: blue;
}
#searchIcon:hover{
  background-color: rgba(240,240,240,1);
}

#closeSearchIcon{
  padding: 5px;
    border-radius: 50%;
}
#closeSearchIcon:hover{
  background-color: rgba(240,240,240,1);
}

#searchMenu{
  height: 50%;
  background-color: white;
  width: 90%;
  top: 0px;
  margin: 0 auto;
  position: fixed;
  left: 5%;
  visibility:hidden;
  z-index:1;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);

}

@media (max-width:750px){
  #searchMenu{
    width: 100%;
    left: 0%;
  } 
}

/*------------- HEADER (End) ------------- */

/* ------------------------ FOOTER (Start) ------------------------ */

footer {
 /*position: absolute;*/
 /*bottom: 0;*/
 /*width: 100%;*/
}

/*------------- FOOTER (End) ------------- */


/* ------------------------ COMMON (Start) ------------------------ */

.col-xs-6 {
    padding-right: 0px; 
    padding-left: 0px; 
}

.displayNone {
  display:none;
}

.no-padding{
    padding:0;
}

/*------------- COMMON (End) ------------- */


/* ------------------------ MAP (Start) ------------------------ */

#map {
    height: 400px;
    width: 100%;
}

/*------------- MAP (End) ------------- */




/*@media (max-width:1032px){*/
/*  div.columns{width:656px}*/
/*}*/

/*@media (max-width:750px){*/
/*  div.columns{width:auto}*/
/*  div.columns>div{float:none;margin:0 24px 24px;width:auto}*/
/*  div.columns>div:last-of-type{margin:0 24px}*/
/*}*/







.scale-in-top {
	-webkit-animation: scale-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          visibility: visible!important;
}
.scale-out-top {
	-webkit-animation: scale-out-top 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-top 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          visibility: visible!important;

}


@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}


@-webkit-keyframes scale-out-top {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 0;
    visibility:hidden;
  }
}
@keyframes scale-out-top {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 0;
    visibility:hidden;

  }
}





