/* ------------------------ CORE (start) ------------------------ */

* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
 height: 100%;
 position: relative;
 padding-top: 25px;
}

:root {
    --maven-primary: var(--monkey-teal);
    --maven-secondary: var(--monkey-blue);
    
    --maven-blue: #5960e7;
    --maven-green: #3cff8c;
    --maven-yellow: #ffff3c;
    --maven-pink: #ffd5cc;
    --maven-light-blue: #8ef7e5;
    --maven-grey: #d1d5cf;
    
    --maven-dark-grey: #333;
    --maven-off-white: #fafafa;
    --maven-off-white2: #f0f0f0;
    
    --maven-text1: #202124;
    --maven-text2: #5f6368;
    --maven-text3: #677483;
    
    --maven-icon-grey: #757575;
    
    --monkey-text:#b5ada5; /*brown*/
    --monkey-teal:#00C4B3;
    --monkey-blue:#0099d6;
    --monkey-pink:#ed67bf;
    --monkey-icon:#3c3c3b;
    --monkey-off-white:#ededed;
    
    
    --thin: 100;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --bold: 700;
    --black: 900;
}

.primary{
    color: var(--maven-primary);
}

button:focus {outline:0;}
/* Reset */
/*a,body,div,footer,h1,h2,h3,header,html,img,li,p,section,span,ul{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;counter-reset:inherit}*/
/*footer,header,section{display:block}*/
/*body{color:#68737d;counter-reset:chapter;font-size:16px;line-height:24px;font-family:-apple-system,BlinkMacSystemFont,Roboto,sans-serif;font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}*/
/*.btn,.btn.btn-secondary{font-size:16px;line-height:1.5}*/
/*ul{list-style:none}*/

body{
    font-family: 'Barlow', sans-serif;
    /*-moz-osx-font-smoothing: grayscale;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*font-size: .875rem;*/
    /*line-height: 1.25rem;*/
    /*font-weight: 400;*/
    /*letter-spacing: .04em;*/
    text-decoration: inherit;
    text-transform: inherit;
    /*color: rgba(0,0,0,0.87);*/
    /*color: var(--maven-text1)!important;*/
    color: var(--maven-text2);
    /*color: var(--maven-text2)!important;*/
    /*color: red;*/
    background-color: var(--maven-off-white);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--maven-text2);
}

h1, .h1 {
    font-weight: 300;
    font-size: 6rem;
    line-height: 6rem;
    letter-spacing: -1.5px;
    /*font-family: 'Barlow', sans-serif;*/
    font-family: 'Domine', serif;
}
h2, .h2 {
    font-weight: 300;
    font-size: 3.75rem;
    line-height: 3.75rem;
    letter-spacing: -0.5px;
    /*font-family: 'Barlow', sans-serif;*/
    font-family: 'Domine', serif;
}
h3, .h3 {
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.125rem;
    letter-spacing: normal;
    /*font-family: 'Barlow', sans-serif;*/
    font-family: 'Domine', serif;
}
h4, .h4 {
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: 0.25px;
    /*font-family: 'Barlow', sans-serif;*/
    font-family: 'Domine', serif;
}
h5, .h5 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: normal;
    /*font-family: 'Barlow', sans-serif;*/
    font-family: 'Domine', serif;
}
h6, .h6 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: 0.25px;
    /*font-family: 'Barlow', sans-serif;*/
    font-family: 'Domine', serif;
}
.subtitle1 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.15px;
    /*font-family: 'Barlow', sans-serif;*/
    font-family: 'Domine', serif;
}
.subtitle2 {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.375rem;
    letter-spacing: 0.1px;
    /*font-family: 'Barlow', sans-serif;*/
    font-family: 'Domine', serif;
}
.body1 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}
.body2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.25px;
}
.buttonText {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 2.25rem;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}
.captionText {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
    letter-spacing: 0.4px;
}
.overlineText {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 2rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.uppercase{
  text-transform: uppercase;
}

.underline{
  text-decoration: underline;
}

/* ?????????????????? */
.active {
    font-weight: bold;
}
/* ?????????????????? */

.alert  {
    position: fixed;
    width:40%;
    min-width:300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -120px;
    -webkit-animation: alert-move 5s;  
    animation: alert-move 5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    padding: 1.25rem 1.25rem 1rem 1.25rem;
    border: 0;
    border-radius: 0;
    background-color: #323232;
    color: white;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .3);
    z-index:15;
    margin-bottom: 0px;
}

.alert-success {
    border-bottom: 8px solid darkseagreen;
}
.alert-danger {
    border-bottom: 8px solid #ED8E8E;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes alert-move {
  0% {bottom: -120px;}
  15% {bottom: 0px;}
  70% {bottom: 0px;}
  100% {bottom: -120px;
    visibility:hidden;}
}

@keyframes alert-move {
  0% {bottom: -120px;}
  15% {bottom: 0px;}
  70% {bottom: 0px;}
  100% {bottom: -120px; visibility:hidden;}
}

.paper-box{
    box-shadow: 0 1px 4px rgba(0,0,0,.03);
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.09);
    background: #fff;
    padding: 20px 0;
    margin-bottom:20px;
    margin-right: -15px;
    margin-left: -15px;
}

.lm-button{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    background-color: var(--maven-secondary, green);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 0 16px;
    /*margin: 8px 16px;*/
    /*height: 32px;*/
    font-size: .8125rem;
    transition: box-shadow .28s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .28s cubic-bezier(.4,0,.2,1);
    font-weight: 500;
    letter-spacing: .08929em;
    text-decoration: none;
    text-transform: uppercase;  
    text-align: center;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    border: none;
    outline: none;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
}

.lm-button:hover {
    text-decoration: none;
    color:white;
}
.lm-button:active {
    color: var(--maven-secondary, green);
    background-color: #fff;

}
a {
    color: var(--maven-blue);
}
::-moz-selection { /* Code for Firefox */
    background: var(--maven-pink);
}

::selection {
    background: var(--maven-pink);
}

.capitalize{
    text-transform: capitalize;
}

@media (min-width: 768px){
.container {
    max-width: 850px;
}}
@media (min-width: 992px) {
.container {
    max-width: 1000px;
}
}

@media (min-width: 1200px){
.container {
    max-width: 1140px;
}

    
}

 /* ------------- CORE (End) ------------- */


/* ------------------------ HEADER (Start) ------------------------ */

#navbar {
    /*box-shadow: */
    /*0 2px 4px -1px rgba(0,0,0,.2), */
    /*0 4px 5px 0 rgba(0,0,0,.14), */
    /*0 1px 10px 0 rgba(0,0,0,.12);*/
}

.avatar.avatar-xl {
    font-size: 1.6rem;
    height: 3.2rem;
    width: 3.2rem;
}
.avatar.avatar-lg {
    font-size: 1.2rem;
    height: 2.4rem;
    width: 2.4rem;
}
.avatar {
    background: #17a2b8;
    border-radius: 50%;
    color: rgba(255,255,255,.85);
    display: inline-block;
    font-size: .8rem;
    font-weight: 300;
    height: 1.6rem;
    line-height: 1.25;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 1.6rem;
    margin-right:3px;
}

.avatar[data-initial]::before {
    color: currentColor;
    content: attr(data-initial);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

header{z-index:3;position:fixed;height:64px;width:100%;top:0;
/*box-shadow:0 1px 0 0 #e9ebec; */
background-color: var(--maven-primary);}
header.short{height:56px}
/* header.short .mobileMenuOuter a img{height:40px;margin-top:8px} */
header .mobileMenuOuter{margin:0 auto;max-width:1032px}
header .mobileMenuOuter a, #searchMenu #navBrand{float:left;}
header .mobileMenuOuter .mobileMenuInner,header ul{float:right; padding:0px}
header .mobileMenuOuter a img, #searchMenu #navBrand img{height:38px;margin:10px 0 0;}
header ul{display:inline-block;margin:24px 0 0}
header ul li{display:inline-block;margin:0 0 0 22px}
header ul li a{font-weight:500;font-size:14px;line-height:1.33;color:white;text-decoration:none;text-transform:none;cursor:pointer}
header ul li a:hover{color:#00a5e6}
header #hamburger,header #mobileMenuBG {-webkit-tap-highlight-color:transparent;display:none}
#searchMenuBG{-webkit-tap-highlight-color:transparent;display:none}
#searchMenuBG{position:fixed;top:0px;width:100%;height:100%;background-color:rgba(0,0,0,.24)}
.searchMenuOpen #searchMenuBG{display:block;-webkit-animation:fadein 2s ease 0s 1 normal none running;-moz-animation:fadein 2s ease 0s 1 normal none running;-ms-animation:fadein 2s ease 0s 1 normal none running;-o-animation:fadein 2s ease 0s 1 normal none running;animation:fadein 2s ease 0s 1 normal none running}


@keyframes fadein{from{opacity:0}
to{opacity:1}
}
@-moz-keyframes fadein{from{opacity:0}
to{opacity:1}
}
@-webkit-keyframes fadein{from{opacity:0}
to{opacity:1}
}
@-ms-keyframes fadein{from{opacity:0}
to{opacity:1}
}
@-o-keyframes fadein{from{opacity:0}
to{opacity:1}
}


@media (max-width:1144px){
  header .mobileMenuOuter{padding:0 56px}
  header.short .mobileMenuOuter{padding:0 32px}
}

@media (max-width:750px){
  header #search{display:inline-block;margin:10px 24px 24px 24px!important;right:0;position:absolute}

  header{width:100%;height:55px;z-index:5}
  header.short{height:64px;box-shadow:0 1px 0 0 #e9ebec}
  /* header .mobileMenuOuter a>img,header.short .mobileMenuOuter a img{height:32px;margin-top:16px} */
  header .mobileMenuOuter{text-align:center}
  header .mobileMenuOuter a, #searchMenu #navBrand {float:none}
  header .mobileMenuOuter a img, #searchMenu #navBrand img{height:30px;margin:14px 0 0;}
  header .mobileMenuOuter .mobileMenuInner{left:-100%;-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;float:none;text-align:left;position:fixed;top:55px;background-color:#fff;width:256px;height:100%;box-shadow:3px 0 2px 0 rgba(0,0,0,.16)}
  header .mobileMenuOuter .mobileMenuInner>ul{float:none;margin:0;background-color:#fff;width:100%;padding-top:16px}
  header .mobileMenuOuter .mobileMenuInner>ul li{display:block;margin:0}
  header .mobileMenuOuter .mobileMenuInner>ul li a{display:block;color:#3e4a54;font-size:14px;padding:16px 0 16px 24px;line-height:20px;font-weight:400;text-decoration:none;text-transform:none}
  header .mobileMenuOuter .mobileMenuInner>ul li a:hover{background-color:rgba(0,165,230,.16)}
  header #hamburger{display:inline-block;margin:18px 0 0 24px;left:0;position:absolute}
  header #mobileMenuBG {position:fixed;top:55px;width:100%;height:100%;background-color:rgba(0,0,0,.24)}
  header.mobileMenuOpen #mobileMenuBG {display:block;-webkit-animation:fadein 2s ease 0s 1 normal none running;-moz-animation:fadein 2s ease 0s 1 normal none running;-ms-animation:fadein 2s ease 0s 1 normal none running;-o-animation:fadein 2s ease 0s 1 normal none running;animation:fadein 2s ease 0s 1 normal none running}

  header #searchMenu{
      /*margin:18px 0 0 24px;*/
      width: 100%;
      left: 0;
      top: 0;
  }
  header.searchMenuOpen #searchMenu{}

  header.mobileMenuOpen{display:block}
  header.mobileMenuOpen .mobileMenuInner{left:0}

}

#hamburger{width:24px;height:24px;-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer}
#hamburger span{display:block;position:absolute;height:2px;width:18px;margin:0;background:white;opacity:1;left:0;-webkit-transform:rotate(0);-moz-transform:rotate(0);-o-transform:rotate(0);transform:rotate(0);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
#hamburger span:nth-child(1){top:4px;left:3px}
#hamburger span:nth-child(2),#hamburger span:nth-child(3){top:9px;left:3px}
#hamburger span:nth-child(4){top:14px;left:3px}
#hamburger.open span:nth-child(1),#hamburger.open span:nth-child(4){top:9px;width:0%;left:50%}
#hamburger.open span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
#hamburger.open span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}

/*# sourceMappingURL=/static/css/homepage.min.css.map */

/* font-family: 'Lobster', cursive; */

#navbar {
  transition: top 0.5s;
}
header #search{display:inline-block;margin:14px 0 0 24px; float: right;}

#searchIcon {
    padding: 5px;
    /*background-color: rgba(230,230,230,1);*/
    border-radius: 50%;
}

#search{
  color:white;
  width:24px;
  height:24px;
  cursor:pointer;
  /*background-color:rgba(230,230,230,1);*/
  /*border-radius: 50%;*/
  /*padding:5px;*/
  /*fill: blue;*/
  z-index:200;
  position:sticky;
}
#search svg{
  fill: blue;
}
#searchIcon:hover{
  background-color: rgba(240,240,240,1);
  color: var(--maven-primary);
}

#closeSearchIcon{
  padding: 5px;
    border-radius: 50%;
    color:var(--maven-primary);
    
}
#closeSearchIcon:hover{
  background-color: var(--maven-primary);
  color: white;
  
}

#searchMenu{
  height: 300px;
  background-color: white;
  width: 100%;
  top: 0px;
  margin: 0 auto;
  position: fixed;
  left: 0%;
  visibility:hidden;
  z-index:1;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  text-align: center;

}
#searchMenu #navSearchForm{
    margin-top:100px;
}
#searchMenu #navSearchForm .field{
    background-color:var(--monkey-off-white);
}
#searchMenu #navSearchForm .right-side__subitem{
    margin:0;
    margin-top:2px;
}

#searchMenu #navSearchForm .right-side__sublink{
    background-color:var(--monkey-off-white);
}

@media (max-width:750px){
  #searchMenu{
    width: 100%;
    left: 0%;
  } 
  #searchMenu #navSearchForm {margin-top:50px;}

}







/* ------------------------ SEARCH FORM (Start) ------------------------ */

/* Search Form */

/*************** Search-Box start here ************/

.search {
  width: 100%;
  font-size: 0;
  line-height: normal;
  margin-bottom: 10px;
}

/***** Categories box style ****
********************************/

#navSearchDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*align-items: stretch;*/
    align-content: center;
    flex-direction: row;
}

.searchItem{
    margin-left: 1.5px;
    margin-right: 1.5px;
}

.field-wrapper {
  box-sizing: border-box;
  position: relative;
  /*margin-top: 2px;*/
}

.field {
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  padding: 11px 0 14px 58px;
  outline: none;
  border: 0;
  border-radius: 4px;
}

.field.request {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  border: 0;
  border-radius: 4px 0 0 4px;
}

.field.location {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
  /*border: 2px solid red;*/
  height: 100%;
  /*border-radius: 4px;*/
  box-shadow: 0 1px 4px rgba(0,0,0,.03);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.09);
}

.field.location ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 0.85rem;
  opacity: 1; /* Firefox */
}

.field.location :-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 0.85rem;
}

.field.location ::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 0.85rem;
}

.field.location::-webkit-input-placeholder { 
  font-size: 0.85rem;
}

.field-title {
  position: absolute;
  top: -30.5px;
  left: 11px;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  z-index: 2;
}

.field-title.find {
  position: absolute;
  top: -36px;
}







/* right-side */

.right-side {
  /*display: inline-block;*/
  width: 35%;
  box-sizing: border-box;
  /*margin-left: 0;*/
  vertical-align: middle;
}
.distKm{
  width: 100px;
  /*display: inline-block;*/
  box-sizing: border-box;
  margin-left: 3px;
  vertical-align: middle;
  /*width:15%;*/
}
.near_field{
      /*margin-left:3px;*/
}
#searchBtnDiv{
  /*height:50px;*/
}
.search-button {  
  /*display: inline-block;*/
  height: 95%;
  width: 100%;
  /*width:10%;*/
  min-width:100px;
  box-sizing: border-box;
  background-color: var(--maven-primary);
  /*background-image: url(https://s26.postimg.org/v8mlp8w49/search.png);*/
  /*background-repeat: no-repeat;*/
  /*background-position: 17px 8px;*/
  color: #fff;
  /*font-size: 0;*/
  /*vertical-align: top;*/
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
}

.search-button:focus {
  outline:0;
}

.right-side__sublink {
  position: relative;
  display: block;
  /*width: 360px;*/
  width:125px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-size: 14px;
  padding: 7px 7px 7px 37px;
  box-sizing: border-box;
  margin-left: 55px;
  float:right;
}
                    
                    
                    @media (max-width: 1030px){
                        .right-side {
                          /*width: 330px;*/
                        }
                        .right-side__sublink {
                          /*width: 330px;*/
                        }
                        .search-button {  
                        }
                    }
                    @media (max-width: 900px){
                        .right-side {
                          /*width: 300px;*/
                        }
                        .right-side__sublink {
                          /*width: 300px;*/
                        }
                        .search-button {  
                          /*width: 330px;*/
                          /*border-radius: 4px;*/
                        }
                    }
                    @media (max-width: 810px) {
                        .right-side {
                            /*width: 260px;*/
                        }
                        .right-side__sublink {
                            /*width: 260px;*/
                        }
                        .search-button {
                            /*display: inline-block;*/
                            /*width: 260px ;*/
                            /*border-radius: 4px;*/
                            /*padding: 10px;*/
                        }
                        .near_field{
                              /*margin-left:0px;*/
                              /*margin-top:3px;*/
                              /*margin-bottom:3px;*/
                        }
                    }
                     
                    /*@media (max-width: 1199px){*/
                    /*    .right-side {*/
                    /*      width: 400px;*/
                    /*    }*/
                    /*}*/


.field-title.near {
  position: absolute;
  top: -36px;
}



/* right-side dropdown */

.right-side__sublist {
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 4px;
  text-align: left;
  font-weight:500;
}

.right-side__subitem {
  position: relative;
  cursor: pointer;
}
.right-side__subitem:hover {
  color: white;
}



.right-side__sublink.state {
  border-radius: 0 0 4px 4px;
}

.right-side__sublink.current {
  color: #0073BB;
}

.right-side__sublink.current:hover {
  color: #fff;
  background-color: var(--maven-secondary);
}

.right-side__sublink.current:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  /*background-image: url(https://s26.postimg.org/r1a5huswp/location.png);*/
  /*background-position: center center;*/
  /*background-repeat: no-repeat;*/
  font: normal normal normal 22px/1 "Font Awesome 5 Free";
    font-size: 1.25em;
    margin-right: 5px;
    content: '\f124';
    font-weight: 900;
    color: var(--maven-primary);
    margin-top: 2px;
}

.right-side__sublink.current:hover::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  /*background-image: url(https://s26.postimg.org/9roq2ti9l/location_blue.png);*/
    font: normal normal normal 22px/1 "Font Awesome 5 Free";
    font-size: 1.25em;
    margin-right: 5px;
    content: '\f124';
    font-weight: 900;
    color: var(--maven-primary);
    margin-top: 2px;
}

.field:focus ~ .right-side__sublist {
  display: block;
}

/*.right-side__sublist:hover {*/
/*  display: block;*/
/*}*/
.right-side__sublist:active {
  display: block;
}


/*.field:focus ~ #locationDropdown {*/
/*  display: block;*/
/*}*/

/*#locationDropdown:hover {*/
/*  display: block;*/
/*}*/

@media (max-width: 1030px) {
                        .right-side {
                              width: 70%;
                        }
                        .search-button {
                            margin-top:3px;
                        }
                        .near_field{
                              margin-top:5px;
                        }
                   
#findDiv, #navFindDiv{
    order: 1;
}
#locationDiv, #navLocationDiv{
    order: 3;
}
#distKmDiv, #navDistKmDiv{
    order: 2;
}
#searchBtnDiv, #navSearchBtnDiv{
    order: 4;
}

}

@media (max-width: 575px) {
            .field.location {
                font-size: 15px;
                padding: 6px 0 10px 54px;
            }
            .field-title {
                font-size:15px;
            }
            .field-title.near {
                top: -29px;
            }
}

@media (max-width: 400px) {
                        .right-side {
                              width: 62%;
                        }
                        }
/*------------- SEARCH FORM (End) ------------- */






/*------------- HEADER (End) ------------- */

/* ------------------------ FOOTER (Start) ------------------------ */

footer {
 /*position: absolute;*/
 /*bottom: 0;*/
 /*width: 100%;*/
}

/*------------- FOOTER (End) ------------- */


/* ------------------------ COMMON (Start) ------------------------ */

.col-xs-6 {
    padding-right: 0px; 
    padding-left: 0px; 
}

.displayNone {
  display:none!important;
}

.no-padding{
    padding:0;
}
.tooltip{
    margin:25px;
}

.tooltip.in{
}

.tooltip-inner{
    background-color: var(--monkey-pink);
}
.bs-tooltip-top .arrow::before, .bs-tooltip-bottom .arrow::before, .bs-tooltip .arrow::before {
    border-top-color: var(--monkey-pink);
}

/*------------- COMMON (End) ------------- */


/* ------------------------ MAP (Start) ------------------------ */

#map {
    height: 400px;
    width: 100%;
}

/*------------- MAP (End) ------------- */




/*@media (max-width:1032px){*/
/*  div.columns{width:656px}*/
/*}*/

/*@media (max-width:750px){*/
/*  div.columns{width:auto}*/
/*  div.columns>div{float:none;margin:0 24px 24px;width:auto}*/
/*  div.columns>div:last-of-type{margin:0 24px}*/
/*}*/







.scale-in-top {
	-webkit-animation: scale-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          visibility: visible!important;
}
.scale-out-top {
	-webkit-animation: scale-out-top 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-top 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          visibility: visible!important;

}


@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}


@-webkit-keyframes scale-out-top {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 0;
    visibility:hidden;
  }
}
@keyframes scale-out-top {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 0;
    visibility:hidden;

  }
}





