:root {
   --color1: #ffffff;
   --color2: #e8eded;
   --color3: #b5c4c2;
   --color4: #757575;
   --color5: #3d3d3d;
    --test: red;



}


#username{
    text-transform: capitalize;
    font-weight: bold;
    font-style: italic;
}

.commentAuthor {
    text-transform: capitalize;
    font-weight: bold; 
}

#submittedBy{
    font-weight: bold;
    text-transform: capitalize;
}

.deleteForm{
    display: inline;
}

.active {
    font-weight: bold;
}

body{
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .04em;
    text-decoration: inherit;
    text-transform: inherit;
    color: rgba(0,0,0,.87);
    
}

button:focus {outline:0;}

.navbar {
    box-shadow: 
    0 2px 4px -1px rgba(0,0,0,.2), 
    0 4px 5px 0 rgba(0,0,0,.14), 
    0 1px 10px 0 rgba(0,0,0,.12);
    /*padding: 0rem 1rem !important;*/
    /*height:4rem;*/
}

.navbar-brand{
    font-family: 'Lobster', cursive;
}

.nav-link {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    height: 100%;
    margin: 0 16px;
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--test);
}

/*h5 { font-size: 1rem; }*/

/*@media (min-width: 576px) {*/
/*    h5 { font-size: 1rem; }*/
/*}*/
/*@media (min-width: 768px) {*/
/*    h5 { font-size: 0.8rem; }*/
/*}*/
/*@media (min-width: 992px) {*/
/*    h5 { font-size: 1rem; }*/
/*}*/
/*@media (min-width: 1200px) {*/
/*    h5 { font-size: 1rem; }*/
/*}*/
/*====================================================*/
/*h5 {*/
/*  font-size: 1rem;*/
/*}*/
/*@include media-breakpoint-up(sm) {*/
/*  h5 {*/
/*    font-size: 2rem;*/
/*  }*/
/*}*/
/*@include media-breakpoint-up(md) {*/
/*  h5 {*/
/*    font-size: .5rem;*/
/*  }*/
/*}*/
/*@include media-breakpoint-up(lg) {*/
/*  h5 {*/
/*    font-size: 1rem;*/
/*  }*/
/*}*/

.box-shadow {box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);}

.col-md-4 .card:hover  {
box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
    
}

.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }


.camp-img { max-height: 500px; background-color: #444;}


/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}


.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-auto-rows: 20px;
}

/*#search-bar{*/
/*    height: inherit;*/
    /*padding-left: 4rem;*/
/*    width: calc(100% - 4rem);*/
/*    border: 0;*/
/*    -webkit-box-shadow: none;*/
/*    box-shadow: none;*/
/*}*/

/*#map {*/
/*    margin:auto;*/
/*    margin-top:60px;*/
/*  height: 60%; */
/*  width: 60%;*/
/*}*/