 /*html, body {*/
 /*           margin: 0;*/
 /*           padding: 0;*/
 /*           height: 100%;*/
 /*           width: 100%;*/
 /*           font-family: -apple-system, Roboto, "Helvetica Neue", sans-serif;*/
 /*       }*/

        #map {
            margin: auto;
            margin-top: 30px;
            height: 400px;
            width: 100%;
            display: block;
            position: relative;
            background-color:orange;
        }
        #results {
            margin: auto;
            margin-top: 30px;
            position: relative;
            background-color:white;
        }
        p {
            margin:0;
            font-size:10px;
        }

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.col-md-4 .card:hover  {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
}

.placeNumber {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--maven-blue);
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
    font-size: 1rem;
    position: absolute;
    z-index: 2;
    margin: 0.5rem;
    font-weight: 500;
}