.card-img-top {
    object-fit: contain;
}
.card-img-top.placeholder {
    object-fit: cover;
}

#searchForm{
    margin-top: 2.5rem;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
    position:absolute;
    height:100%;
}

.createdAt {
    text-align: right;
    width: 100%;
}
.pageCount {
    padding: 0 15px;
    width: 100%;
    text-align: right
}
#map{
    /*margin-top:-1.5rem;*/
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.col-md-4 .card:hover  {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
}

.placeNumber {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--maven-primary);
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
    font-size: 1rem;
    position: absolute;
    z-index: 2;
    margin: 0.5rem;
    /*font-weight: 500;*/
    font-weight: 500;
    box-shadow: 
     0 2px 3px 0px rgba(0,0,0,.10), 
     0 4px 3px 0px rgba(0,0,0,.08);
    right:0;
}
.placeNumber-inline {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--maven-primary);
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
    font-size: 1rem;
    position: inline-block;
    z-index: 2;
    margin: 0.5rem;
    /*font-weight: 500;*/
    font-weight: 500;
    box-shadow: 
     0 2px 3px 0px rgba(0,0,0,.10), 
     0 4px 3px 0px rgba(0,0,0,.08);
}
.more-info{
    bottom: 20px;
    position: absolute;
    text-decoration: underline;
}
.more-info:hover{
    font-weight: 500; 
}
.distanceTo{
    margin-top: -2.75rem;
    background-color: white;
    z-index: 2;
    position: absolute;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1.5rem;
}
.card_address{
    margin:0;
}

.card-body{
}

#cards a{
    color: var(--maven-text2);
}

#searchDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*align-items: stretch;*/
    align-content: center;
    flex-direction: row;
}
.searchItem{
    margin-left: 1.5px;
    margin-right: 1.5px;
}
.banner{
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  /*background-color: var(--maven-off-white2);*/
  /*margin-bottom: 0.5rem;*/
}



@media (max-width: 1030px) {
                        .right-side {
                              width: 70%;
                        }
                        .search-button {
                            margin-top:3px;
                        }
                        .near_field{
                              margin-top:5px;
                        }
                   
#findDiv, #navFindDiv{
    order: 1;
}
#locationDiv, #navLocationDiv{
    order: 3;
}
#distKmDiv, #navDistKmDiv{
    order: 2;
}
#searchBtnDiv, #navSearchBtnDiv{
    order: 4;
}

 }

@media (max-width: 575px) {
            .field.location {
                font-size: 15px;
                padding: 6px 0 10px 54px;
            }
            .field-title {
                font-size:15px;
            }
            .field-title.near {
                top: -29px;
            }
            .banner{
              padding-top: 1rem;
              padding-bottom: 0.55rem;
              background-color: var(--maven-off-white2);
              margin-bottom: 0.5rem;
            }
            #mapContainer{
                padding-left: 0px;
                padding-right: 0px;
            }
            #map {
                height: 225px;
            }
            #searchForm{
                margin-top: .75rem;
            }
#cards{
    padding-right: 0px;
    padding-left: 0px;
}
.card {
    flex-direction: row;
    margin-bottom: 2px!important;
}
.image {
    position: relative;
    /* overflow: hidden; */
    /* padding-bottom: 100%; */
    /* width: 100%; */
    /* float: left; */
    height: 125px;
    width: 180px;
    padding-bottom:0px;
}

.distanceTo {
    margin-top: 0px;
    bottom: 0;
}
/*.image img {*/
/*    position: absolute;*/
/*    height: 100%;*/
/*}*/
/*.card-img-top {*/
/*    object-fit: contain;*/
/*}*/
/*.card-img-top {*/
/*    width: 30%;*/
/*    border-top-left-radius: calc(.25rem - 1px);*/
/*    border-top-right-radius: calc(.25rem - 1px);*/
/*}*/
}


@media (max-width: 400px) {
                        .right-side {
                              width: 62%;
                        }
                        }
                        

.buttons{
    margin-top:16px;
}                        
                        
.mdc-fab {
    background-color: var(--maven-primary, #018786)!important;
    float:right;
    margin-right: -25px;
    margin-bottom: -25px;
    border-bottom-right-radius: 3px!important;
}
.external-link:after {
    font: normal normal normal 18px/1 "Font Awesome 5 Free";
    font-size: .65em;
    margin-left: 5px;
    content: '\f35d';
    font-weight: 900;
    vertical-align: super;
}