<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Little Maven</title>


  <meta name="theme-color" content="#000000">
  <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/favicon.ico">
  <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.
      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->




  <!-- fonts and icons -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
  <link href="https://fonts.googleapis.com/css?family=Barlow:100,100i,300,300i,400,400i,500,500i|Playfair+Display" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">





  <!--MCD core files-->
  <!--<link rel="stylesheet" type="text/css" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">-->
  <!--    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js" type="text/javascript" async></script>-->
  <!--        not required-->
  <!--        <script src="/js/ready.js"></script>-->
  <!--        <link rel="stylesheet" type="text/css" href="/stylesheets/top-app-bar.css">-->


  <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="../../stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/detail.css">
  <!--link a page specific stylesheet based on route attribute "page" e.g. res.render("login", {page: 'login'});-->
  
  <link rel="stylesheet" href="stylesheets/fontawesome-stars-o.css">
  <link rel="stylesheet" href="stylesheets/fontawesome-stars-o£.css">  

  <script src="js/jquery.barrating.min.js"></script>
  <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">-->


<script type="text/javascript">
   $(function() {
      $('#overall-sticky, #cost-sticky, #baby-change-sticky, #food-sticky, #play-sticky, #staff-sticky, #breastfeeding-sticky').barrating({
        theme: 'fontawesome-stars-o'
      });
   });
</script>
<script>
     $(function() {
      $('#cost-sticky').barrating({
        theme: 'fontawesome-stars-o£'
      });
   });
</script>
</head>

<body class="mt-5">

  <header id="navbar">
    <div class="branch-journeys-top"></div>
    <div id="mobileMenuBG"></div>
    <div class="mobileMenuOuter">
      <div id="search" onclick="searchMenuFn()">
        <!--<img src="baseline-search-24px.svg" alt="search" id="searchIcon">-->
        <i class="material-icons" id="searchIcon">search</i>
        <!--<img src="baseline-close-24px.svg" alt="close" class="displayNone" id="closeSearchIcon">-->
        <i class="material-icons displayNone" id="closeSearchIcon">close</i>
      </div>
      <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <a id="navBrand" href="/"><img class="" src="/images/Little Maven Logo.svg" /></a>
      <div class="mobileMenuInner">
        <ul>
          <li>
            <a href="/places">DB Places</a>
          </li>
          <li>
            <a href="/a-places/a-map">Add to DB</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- navbar search menu -->

    <div id="searchMenuBG"></div>
    <div class="" id="searchMenu">
      <form>
        <input type="text" name="search" placeholder="Search.." style="margin-top: 80px; margin-right: auto; margin-left: auto; display: block; width: 200px;">
      </form>
    </div>
  </header>
  <script src="/js/navbar.js"></script>










  <section id="top">
    <!--<div class="row">-->
    <div id="banner">
      <div class="container">
      <a id="improveBtn" class="lm-button" href="/places/<%= place._id %>/edit"><i class="fas fa-pen pr-1"></i>Improve this page</a>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8" id="main-content">
          <div class="row">
          <div class="col-md-4" id="profileImage">
          <img id="placeImage" class="" src="https://scontent.xx.fbcdn.net/v/t31.0-8/11406711_102397983435360_7108971671760661987_o.jpg?_nc_cat=0&amp;oh=9d2a99d5cec2a48f054e6c234a6ebf1b&amp;oe=5C18C5C6">
          </div>
          
          <div class="col-md-8" id="summary">
            <h4 id="placeName">Mad Hatter's</h4>
            <div id="starSummary">
              <i class="material-icons md-30">star</i>
              <i class="material-icons md-30">star</i>
              <i class="material-icons md-30">star</i>
              <i class="material-icons md-30">star</i>
              <i class="material-icons md-30">star_half</i>
            </div>
            <a class="subtitle2" id="summaryReviewCount" href="#REVIEWS"><span property="count">20</span> Reviews </a>
            <!--<p class="subtitle2" id="summaryReviewCount">20 reviews</p>-->
            <p class="body2 sm-mb" id="categories">Coffee, Cafe, Gluten Free Options, Lunch ...</p>
            <p class="body2 sm-mb p-500" id="goodForSummary" >
              <img class="mb-2 footer-maven-icon" src="/images/LM-Icon-Blue.svg" alt="Little Maven Thumb Icon">
              <!--<span id="forIcon"><i class="fas fa-check-circle summaryIcon"></i></span>-->
              <span class="uppercase pl-2 pr-2">Food</span>+<span class="pr-2 pl-2 uppercase">Nappy Change</span>+<span class="pr-2 pl-2 uppercase">Play</span>
            </p>
            <hr style="width: 100%">
            <p class="body2 sm-mb">
              <span id="clockIcon"><i class="far fa-clock summaryIcon"></i></span>
              <span class="uppercase pr-2">Open Now</span>|<span class="pr-2 pl-2">8:00 - 20:30</span>|<a href="#" class="pl-2" id="summaryHours">hours</a>
            </p>
            <p class="body2 sm-mb">
              <span id="costIcon"><i class="fas fa-pound-sign summaryIcon"></i></span>
              <span class="">££ - £££</span>
            </p>
            
            <p class="body2 sm-mb" id="summaryLinks">
              <span id="webIcon"><i class="fas fa-desktop summaryIcon"></i></span>
              <a href="#" class="pr-2">Website</a>|<a href="#" class="pr-2 pl-2">Facebook</a>|<a href="#" class="pl-2">Email</a>
            </p>
            <p class="body2 sm-mb">
              <span id="phoneIcon"><i class="fas fa-phone summaryIcon"></i></span>
              <a href="tel:+441415555555">+44 (0) 141 555 5555</a>
            </p>
            <p class="body2">
              <span id="locationIcon"><i class="fas fa-map-marker-alt summaryIcon"></i></span>
              <span class="">20 High Street, Glasgow, G1 2PN</span>
            </p>
          </div>
          </div>


        </div>


        <div class="col-md-4 second-content" id="action-icons">
          
          <div id="" class="subtitle2">
            <div class="placeBtnDiv">
            <a target="_blank" href="https://maps.apple.com/?daddr=(55.8466225%2C%20-4.4176726)&dirflg=d" class="placeButton" id="directionsBtn"><span id="directionsIcon"><i class="fas fa-directions placeButtonIcon"></i></span>Directions</a>
            </div>
            <div class="placeBtnDiv">
            <button class="placeButton" id="saveBtn"><span id="saveIcon"><i class="far fa-heart placeButtonIcon"></i></span>Save</button>
            </div>
            <div class="placeBtnDiv">
            <button class="placeButton" id="shareBtn"><span id="shareIcon"><i class="fas fa-share placeButtonIcon"></i></span>Share</button>
            </div>
          </div>


        </div>

      </div>
      <div class="row pt-3 mt-3">
        <div class="col-md-8 no-padding">

          <div id="map">
            <button id="mapScaleBtn" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-sm btn-secondary"><i class="fas fa-expand pr-1"></i>Larger Map</button>
          </div>
          
          
          </div>
          </div>
          </div>
      </section> <!--top-->    
      
          <section id="middle">
          <div class="container">
            <div class="row">
          <div class="col-md-8">
            
            
        <div id="reviews" class="place-details">
          <h5 class="uppercase">Reviews</h5>
          <div class="row paper-box">
          
          <div class=" col-lg-3 col-md-6 col-6 order-1 " id="rating-summary-wrapper">
          
          <div id="rating-summary">
          <h2 id="rating-overall-avg">4.5</h2>
            <div id="overallStarAvg">
              <i class="material-icons star-size">star star star star star_half</i>
            </div>
            <span class="captionText" id="ratingReviewCount">20 Reviews</span>
            </div>
            </div>
            
            <div class=" col-lg-6 col-md-12 col-12 order-3 order-lg-2" id="ratebar-wrapper">
            <div class="ratebar-wrap">
              <table class="table">
              <tr>
                <td class="rating-des body2">Excellent</td>
                <td class=""><div class="rating-bar"><div class="rate rate-5" style="width:80%"></div></div></td>
                <td class="rating-bar-percent">70%</th>
              </tr>
              <tr>
                <td class="rating-des body2">Very Good</td>
                <td class=""><div class="rating-bar"><div class="rate rate-4" style="width:60%"></div></div></td>
                <td class="rating-bar-percent">60%</td>
              </tr>
              <tr>
                <td class="rating-des body2">Average</td>
                <td class=""><div class="rating-bar"><div class="rate rate-3" style="width:50%"></div></div></td>
                <td class="rating-bar-percent">50%</td>
              </tr>
              <tr>
                <td class="rating-des body2">Poor</td>
                <td class=""><div class="rating-bar"><div class="rate rate-2" style="width:20%"></div></div></td>
                <td class="rating-bar-percent">20%</td>
              </tr>
              <tr>
                <td class="rating-des body2">Terrible</td>
                <td class=""><div class="rating-bar"><div class="rate rate-1" style="width:32%"></div></div></td>
                <td class="rating-bar-percent">32%</td>
              </tr>
            </table></div>
            
            
          </div>
          <div class=" col-lg-3 col-md-6 col-6 order-2 order-lg-3" id="sub-ratings">
            <div class="substar-wrap">
            <table class="table">
              <tr>
                <td class="sub-rating-des body2">Baby Change</td>
                <!--<td class="substars"><i class="material-icons sub-rating-stars">star star star star star_half</i>-->
                <td class="subtitle2">4.5 <span class="body2">/ 5</span></td>
              </tr>
              <tr>
                <td class="sub-rating-des body2">Food</td>
                <!--<td class=""><i class="material-icons sub-rating-stars">star star star star star_half</i>-->
                <td class="subtitle2">4.5 <span class="body2">/ 5</span></td>
              </tr>
              <tr>
                <td class="sub-rating-des body2">Play</td>
                <!--<td class=""><i class="material-icons sub-rating-stars">star star star star star_half</i>-->
                <td class="subtitle2">4.5 <span class="body2">/ 5</span></td>
              </tr>
              <tr>
                <td class="sub-rating-des body2">Staff</td>
                <!--<td class=""><i class="material-icons sub-rating-stars">star star star star star_half</i>-->
                <td class="subtitle2">4.5 <span class="body2">/ 5</span></td>
              </tr>
              <tr>
                <td class="sub-rating-des body2">Breastfeeding</td>
                <!--<td class=""><i class="material-icons sub-rating-stars">star star star star star_half</i>-->
                <td class="subtitle2">4.5 <span class="body2">/ 5</span></td>
              </tr>
            </table>
            </div>
            
            </div>
        </div>
        
        <div class="review-wrapper paper-box">
          
          <div class="">
            <p class="review-total"><b>1</b> - <b>3</b> of 3 reviews</p>
          </div>
          
          <div class="review">
          <div class="flex-container">
            <div class="flex-child"><figure class="review-avatar" data-initial="AS"></figure></div>
            <div class="flex-child reviewer">
              <a class="subtitle2" href="" id="reviewer-username">
                <span id="">Andrew Simpson</span>
              </a>
              <span class="reviewer-stars"><i class="material-icons stars">star star star star star_half</i><span class="middotDivider"></span>Oct 18</span>
            </div>
            </div>
            <div class="review-text">
              <p class="subtitle2 review-title">This Is Awesome!</p>
              <p class="body2">I went to this place today to have brunch with my family. The staff was really great at accommodating our needs and... <a href="#" class="more-text-link" >More</a></p>
            </div>
            </div>
            
            <div class="review">
          <div class="flex-container">
            <div class="flex-child"><figure class="review-avatar" data-initial="AS"></figure></div>
            <div class="flex-child reviewer">
              <a class="subtitle2" href="" id="reviewer-username">
                <span id="">Andrew Simpson</span>
              </a>
              <span class="reviewer-stars"><i class="material-icons stars">star star star star star_half</i><span class="middotDivider"></span>Oct 18</span>
            </div>
            </div>
            <div class="review-text">
              <p class="subtitle2 review-title">This Is Awesome!</p>
              <p class="body2">I went to this place today to have brunch with my family. The staff was really great at accommodating our needs and... <a href="#" class="more-text-link" >More</a></p>
            </div>
            </div>
            
            <div class="review">
          <div class="flex-container">
            <div class="flex-child"><figure class="review-avatar" data-initial="AS"></figure></div>
            <div class="flex-child reviewer">
              <a class="subtitle2" href="" id="reviewer-username">
                <span id="">Andrew Simpson</span>
              </a>
              <span class="reviewer-stars"><i class="material-icons stars">star star star star star_half</i><span class="middotDivider"></span>Oct 18</span>
            </div>
            </div>
            <div class="review-text">
              <p class="subtitle2 review-title">This Is Awesome!</p>
              <p class="body2">I went to this place today to have brunch with my family. The staff was really great at accommodating our needs and... <a href="#" class="more-text-link" >More</a></p>
            </div>
            </div>
            
          </div>
          
                  </div>
        
        

        <div id="" class="place-details">
          
          <h5 class="uppercase">Heading</h5>
          
        </div>
        <div id="" class="place-details">
          
          <h5 class="uppercase">Heading</h5>
          
        </div>
        <div id="" class="place-details">
          
          <h5 class="uppercase">Details</h5>
          
          <div class="paper-box">
          <table>
            <tr>
              <td>Opening Hours</td>
            <td>
                <div><span class="day">Monday</span><span class="hours">09:00 - 17:00</span></div>
                <div><span class="day">Tuesday</span><span class="hours">09:00 - 17:00</span></div>
                <div><span class="day">Wednesday</span><span class="hours">09:00 - 17:00</span></div>
                <div><span class="day">Thursday</span><span class="hours">09:00 - 17:00</span></div>
                <div><span class="day">Friday</span><span class="hours">09:00 - 17:00</span></div>
                <div><span class="day">Saturday</span><span class="hours">09:00 - 17:00</span></div>
                <div><span class="day">Sunday</span><span class="hours">09:00 - 17:00</span></div>
              </td>
            </tr>
            <tr>
              <td>Cuisine</td>
              <td>Cafe, British, Vegetarian Friendly, Vegan Options, Gluten Free Options</td>
            </tr>
            <tr>
              <td>Meals</td>
              <td>Breakfast, Lunch, Brunch</td>
            </tr>
            <tr>
              <td>Description</td>
              <td>We are Paisley's premier family friendly Coffee House serving quality homemade soups, breakfast, lunch and Afternoon Tea alongside a selection of scrummy home made cakes! We also provide a corkage service for a small fee. We are available for function hire for Baby Showers, Hen Parties or any other party! We take day and evening bookings, just give us a wee call or email for more information information.</td>
            </tr>
          
          
          </table>
          </div>
        </div>
        <div id="location" class="place-details">
          
          <h5 class="uppercase">Location & Contact Info</h5>
          <div class="paper-box">

          <table>
  <tr>
    <td>Address</td>
    <td>100 High Street, Glasgow, G1 1RQ</td>
  </tr>
    <tr>
    <td>Location</td>
    <td>Glasgow, Scotland</td>
  </tr>
    <tr>
    <td>Phone</td>
    <td><a href="tel:+441415555555">+44 (0) 141 555 5555</a></td>
  </tr>
    <tr>
    <td>Email</td>
    <td>info@info.com</td>
  </tr>
    <tr>
    <td>Website</td>
    <td><a href="http://www.google.com" target="_blank">www.google.com</a></td>
  </tr>


</table>
          
        </div>
        </div>

        </div><!--col-md-8-->
        
    
 
        <div class="col-md-4" id="">
          <div class="sticky-content paper-box"id="sticky-review">
          <h6 class="sticky-review-heading">Been Here?</h6>
          <p class="subtitle2 sticky-review-subtitle"><i>What did you think?</i></p>
        
        <form id="add-comment-sticky-form" action="/places/<%= place._id %>/comments" method="POST">
        <table id="sticky-review-table">
          <tr>
            <td>Overall</td>
            <td><select id="overall-sticky">
                    <option value=""></option>
                    <option value="1">Terrible</option>
                    <option value="2">Poor</option>
                    <option value="3">Average</option>
                    <option value="4">Very Good</option>
                    <option value="5">Excellent</option>
                  </select>
                  </td>
          </tr>
          <tr class="br-theme-cost">
            <td>Cost</td>
            <td><select id="cost-sticky">
                    <option value=""></option>
                    <option value="1"><£10 pp</option>
                    <option value="2">£10-£30 pp</option>
                    <option value="3">£30-£60 pp</option>
                    <option value="4">£60+ pp</option>
                  </select>
                  </td>

          </tr>
          <tr>
            <td>Baby Change</td>
            <td><select id="baby-change-sticky">
                    <option value=""></option>
                    <option value="1">Terrible</option>
                    <option value="2">Poor</option>
                    <option value="3">Average</option>
                    <option value="4">Very Good</option>
                    <option value="5">Excellent</option>
                  </select>
                  </td>
          </tr>          
          <tr>
            <td>Food</td>
            <td><select id="food-sticky">
                    <option value=""></option>
                    <option value="1">Terrible</option>
                    <option value="2">Poor</option>
                    <option value="3">Average</option>
                    <option value="4">Very Good</option>
                    <option value="5">Excellent</option>
                  </select>
                  </td>
          </tr>
          <tr>
            <td>Play</td>
            <td><select id="play-sticky">
                    <option value=""></option>
                    <option value="1">Terrible</option>
                    <option value="2">Poor</option>
                    <option value="3">Average</option>
                    <option value="4">Very Good</option>
                    <option value="5">Excellent</option>
                  </select>
                  </td>
          </tr>
            <td>Staff</td>
            <td><select id="staff-sticky">
                    <option value=""></option>
                    <option value="1">Terrible</option>
                    <option value="2">Poor</option>
                    <option value="3">Average</option>
                    <option value="4">Very Good</option>
                    <option value="5">Excellent</option>
                  </select>
                  </td>
          </tr>   
            <td>Breastfeeding</td>
            <td><select id="breastfeeding-sticky">
                    <option value=""></option>
                    <option value="1">Terrible</option>
                    <option value="2">Poor</option>
                    <option value="3">Average</option>
                    <option value="4">Very Good</option>
                    <option value="5">Excellent</option>
                  </select>
                  </td>
          </tr>          
</table>
        <input id="sticky-review-title" class="form-control" type="text" placeholder="Title your review">
        <textarea class="form-control" id="sticky-review-text" rows="4" placeholder="Tell others what you think about this place. Would you recommend it and why?"></textarea>
        
        <div class="button-right-wrapper">
        <button type="submit" id="sticky-review-submit" class="buttonText lm-button">Submit</button>
        </div>
        </form>
          

        </div>
        </div>

      </div>       <!--row-->
    </div>


    <div class="container">




    </div>
  </section>



















  <footer class="pt-4 my-md-5 pt-md-5 border-top mastfoot mt-auto">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2 footer-maven-icon" src="/images/LM-Icon-Blue.svg" alt="Little Maven Thumb Icon">
          <small class="d-block mb-3 text-muted">&copy; 2017-2018 Maven Family Ltd.</small>
        </div>

      </div>
    </div>
  </footer>
  
  <section id="mobile-bottom-menu">
            <div id="mobile-bottom-menu-buttons">
            <div class="mobile-placeBtnDiv">
              <div class="circle"></div>
            <a href="#sticky-review" class="placeButton" id="mobile-reviewBtn"><span id="reviewIcon"><i class="far fa-comments placeButtonIcon"></i></span>Review</a>
            </div>
            <div class="mobile-placeBtnDiv">
              <div class="circle"></div>
            <a target="_blank" href="https://maps.apple.com/?daddr=(55.8466225%2C%20-4.4176726)&dirflg=d" class="placeButton" id="mobile-directionsBtn"><span id="directionsIcon"><i class="fas fa-directions placeButtonIcon"></i></span>Directions</a>
            </div>
            <div class="mobile-placeBtnDiv">
              <div class="circle"></div>
            <button class="placeButton" id="mobile-saveBtn"><span id="saveIcon"><i class="far fa-heart placeButtonIcon"></i></span>Save</button>
            </div>
            <div class="mobile-placeBtnDiv">
              <div class="circle"></div>
            <button class="placeButton" id="mobile-shareBtn"><span id="shareIcon"><i class="fas fa-share placeButtonIcon"></i></span>Share</button>
            </div>
            </div>
            <div id="mobile-improve-btn">
                    <a id="" class="" href="#"><i class="fas fa-pen pr-1"></i>Improve this page</a>
                    <!--<a id="" class="" href="/places/<%= place._id %>/edit"><i class="fas fa-pen pr-1"></i>Improve this page</a>-->
            </div>
  </section>

</body>
<script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>

<script>
  var placeLat = 55.8466225;
  var placeLng = -4.4176726;
        var MarkerAnnotation = mapkit.MarkerAnnotation;
        var place = new mapkit.Coordinate(placeLat, placeLng);

  // Initialise map and fetch token 
  mapkit.init({
    authorizationCallback: function(done) {
      fetch("/token")
        .then(res => res.text())
        .then(token => done(token)) /* If successful, return your token to MapKit JS */
        .catch(error => { /* Handle error */
          console.log("nae token");
        });
    }

  });


  // // Set default region of map    
  region = new mapkit.CoordinateRegion(
    new mapkit.Coordinate(placeLat, placeLng), //Glasgow
    new mapkit.CoordinateSpan(.005, .005)
  );
 
  
  var map = new mapkit.Map("map", {
        region: region,
        // showsUserLocation: true,
        showsUserLocationControl: true,
        // tracksUserLocation: true,
        showsMapTypeControl: false,
        showsCompass: mapkit.FeatureVisibility.Hidden,
        title: mapkit.FeatureVisibility.Visible,
        isRotationEnabled: true,
        isScrollEnabled: true,
        isZoomEnabled: true,
        showsScale: true,
      });
        
        // Setting properties on creation:
        var placeAnnotation = new MarkerAnnotation(place, { 
          color: "#5960e7", 
          title: "Had Hatter's", 
          subtitle: "Cafe", 
          // glyphText: "✈️", 
          glyphImage: {
            2: "images/LM-Icon-Blue.svg"
          },
          // glyphColor: "white",
          // selected: "true"
        });

        // Setting properties after creation:
        // var placeAnnotation = new MarkerAnnotation(place);
        // placeAnnotation.color = "#5960e7"; 
        // placeAnnotation.title = "Mad Hatter's";
        // placeAnnotation.subtitle = "Cafe";
        // placeAnnotation.selected = "true";
        // placeAnnotation.glyphText = "";
        
        // Add and show both annotations on the map
        map.showItems([placeAnnotation]);
  
</script>

</html>